


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# C extensions
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# PyTorch model weights
*.pth
*.pt

# PyTorch Lightning logs
lightning_logs/

# Logs and output images
logs/
outputs/

# VS Code settings
.vscode/*.tar.gz
*.tar.gz
*.pth
logs/
outputs/